@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Cookie&family=Arimo:wght@400..700&family=Roboto:wght@400..700&family=Roboto+Arabic:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Arizonia&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

body {
  background: url("../photo/image_body.webp") no-repeat;
  background-size: cover;
  font-family: "Aladin", "Arizonia", sans-serif;
  color: #451f3e;
  background-repeat: repeat;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 246, 247, 0.726);
  z-index: -1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1520px;
  padding: 0 15px;
  margin: 0 auto;
}

.items-information__item,
.menu-button,
.element-mochi,
.element-mochi__title--englisch,
.about-mochi-container,
.assortment-product,
.assortment-product__button,
.card-product {
  text-align: center;
  background-color: rgba(245, 239, 237, 0.927);
  -webkit-box-shadow: 1px 1px 15px 3px rgb(255, 255, 255), -1px -1px 15px 3px rgb(255, 255, 255), inset 1px 1px 10px 1px rgba(134, 62, 121, 0.262), inset -1px -1px 10px 1px rgba(134, 62, 121, 0.262);
          box-shadow: 1px 1px 15px 3px rgb(255, 255, 255), -1px -1px 15px 3px rgb(255, 255, 255), inset 1px 1px 10px 1px rgba(134, 62, 121, 0.262), inset -1px -1px 10px 1px rgba(134, 62, 121, 0.262);
  border-radius: 40%;
}

.modal-overlay {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 251, 247, 0.766);
  z-index: 500;
}

.close-button {
  width: 50px;
  height: 50px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40%;
  background-color: #fff;
  -webkit-box-shadow: inset 1px 1px 5px 1px rgba(228, 188, 143, 0.195), inset -1px -1px 5px 1px rgba(228, 188, 143, 0.195);
          box-shadow: inset 1px 1px 5px 1px rgba(228, 188, 143, 0.195), inset -1px -1px 5px 1px rgba(228, 188, 143, 0.195);
  position: absolute;
  z-index: 506;
  pointer-events: auto;
  -webkit-transition: background-color 0.5s ease, fill 0.4s ease;
  transition: background-color 0.5s ease, fill 0.4s ease;
}
@media (hover: hover) {
  .close-button:hover {
    fill: #fff;
    background-color: rgba(69, 31, 62, 0.442);
    cursor: pointer;
  }
}

.close-button--about-mochi {
  top: 10px;
  right: 30px;
}
@media (min-width: 600px) {
  .close-button--about-mochi {
    right: 80px;
  }
}
@media (min-width: 900px) {
  .close-button--about-mochi {
    right: 90px;
  }
}
@media (min-width: 1200px) {
  .close-button--about-mochi {
    right: 110px;
  }
}

.close-button--assortment {
  top: 5px;
  right: 50px;
}
@media (min-width: 600px) {
  .close-button--assortment {
    right: 100px;
  }
}
@media (min-width: 900px) {
  .close-button--assortment {
    right: 130px;
  }
}
@media (min-width: 1200px) {
  .close-button--assortment {
    right: 140px;
  }
}

.icon-x {
  width: 25px;
  height: 25px;
}

.header {
  text-align: center;
  position: relative;
  padding: 10px 0;
}

.header--margin {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .header--margin {
    margin-bottom: 0px;
  }
}

.menu-section {
  position: relative;
}

.menu-button {
  font-size: 26px;
  min-width: 130px;
  font-weight: 600;
  color: #451f3e;
  padding: 15px;
  position: relative;
  z-index: 501;
}

.menu-button--margin {
  margin-top: 10px;
}

.items-information {
  font-size: 26px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: center;
  gap: 25px 15px;
  padding: 50px;
  margin: 0 auto;
}
.items-information :not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 769px) {
  .items-information {
    width: 70%;
    font-size: 28px;
    background-color: rgba(245, 239, 237, 0.927);
    -webkit-box-shadow: 1px 1px 15px 3px rgb(255, 255, 255), -1px -1px 15px 3px rgb(255, 255, 255), inset 1px 1px 10px 1px rgba(134, 62, 121, 0.262), inset -1px -1px 10px 1px rgba(134, 62, 121, 0.262);
            box-shadow: 1px 1px 15px 3px rgb(255, 255, 255), -1px -1px 15px 3px rgb(255, 255, 255), inset 1px 1px 10px 1px rgba(134, 62, 121, 0.262), inset -1px -1px 10px 1px rgba(134, 62, 121, 0.262);
    border-radius: 30%;
    position: absolute;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 501;
  }
}
@media (max-width: 901px) and (min-width: 700px) {
  .items-information {
    width: 90%;
    font-size: 24px;
  }
}

.items-information__item {
  min-width: 120px;
  padding: 15px 10px;
  -webkit-transition: background-color 0.4s ease, color 0.3s ease;
  transition: background-color 0.4s ease, color 0.3s ease;
}
@media (min-width: 950px) {
  .items-information__item {
    padding: 15px;
  }
}
@media (hover: hover) {
  .items-information__item:hover {
    color: #fff;
    background-color: rgba(69, 31, 62, 0.442);
    cursor: pointer;
  }
}

.section-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.social-icon-items__link {
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (hover: hover) {
  .social-icon-items__link:hover {
    opacity: 0.5;
  }
}

.social-icon-items__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.subtitle-mochi {
  min-height: 100px;
  font-size: 22px;
  color: #fff;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  border-radius: 40%;
  text-transform: uppercase;
  padding: 0 15px;
  background-color: #451f3e;
  position: absolute;
  top: 10px;
}
@media (min-width: 950px) {
  .subtitle-mochi {
    min-height: 120px;
    font-size: 26px;
    top: 20px;
  }
}

.subtitle-mochi--endlisch {
  left: 5px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.subtitle-mochi--arabic {
  right: 5px;
  font-family: "Roboto Arabic", sans-serif;
}

.element-mochi {
  max-width: 100%;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}
@media (min-width: 600px) {
  .element-mochi {
    max-width: 90%;
    padding: 60px 0;
  }
}
@media (min-width: 1100px) {
  .element-mochi {
    max-width: 70%;
    padding: 60px 0;
  }
}

.element-mochi--margin {
  margin-bottom: 50px;
}

.element-mochi__title--englisch {
  font-size: 54px;
  text-shadow: 1px 1px rgb(255, 255, 255), -1px -1px rgb(255, 255, 255);
  padding: 30px;
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .element-mochi__title--englisch {
    font-size: 76px;
  }
}
@media (min-width: 700px) {
  .element-mochi__title--englisch {
    font-size: 84px;
  }
}
@media (min-width: 900px) {
  .element-mochi__title--englisch {
    padding: 30px 40px;
    font-size: 106px;
  }
}

.element-mochi__title--arabic {
  font-size: 32px;
}
@media (min-width: 1000px) {
  .element-mochi__title--arabic {
    font-size: 48px;
  }
}

.about-mochi-section {
  position: relative;
  z-index: 505;
}

.about-mochi-section__modal-overlay {
  pointer-events: none;
  background-color: rgba(255, 251, 247, 0.766);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 499;
}

.container-button-close--about-mochi {
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 600px;
  pointer-events: none;
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
}
@media (min-width: 900px) {
  .container-button-close--about-mochi {
    width: 70%;
  }
}

.about-mochi-container {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  text-align: center;
  padding: 50px;
  overflow: auto;
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: auto;
  margin: 0 auto;
}

.about-mochi-container__title {
  font-size: 46px;
  margin-bottom: 25px;
  position: relative;
}
@media (min-width: 900px) {
  .about-mochi-container__title {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .about-mochi-container__title {
    font-size: 62px;
  }
}

.about-mochi-container__description {
  padding: 0 20px 20px 20px;
  font-size: 24px;
}
@media (min-width: 600px) {
  .about-mochi-container__description {
    font-size: 28px;
  }
}
@media (min-width: 1000px) {
  .about-mochi-container__description {
    font-size: 32px;
  }
}

.section-assortment {
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
}

.section-assortment--margin {
  margin-bottom: 100px;
}

.section-assortment__title {
  font-size: 10vw;
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  .section-assortment__title {
    font-size: 8vw;
  }
}

.assortment-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px 100px;
  margin: 0 auto;
}

.assortment-product {
  max-width: 250px;
  max-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px 50px 20px;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .assortment-product {
    max-width: 350px;
  }
}

.assortment-product__title {
  min-height: 150px;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 0 25px;
}
@media (min-width: 900px) {
  .assortment-product__title {
    font-size: 32px;
    min-height: 200px;
  }
}

.assortment-product__image-container {
  width: 200px;
  height: 150px;
  border-radius: 40%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
}
@media (min-width: 1000px) {
  .assortment-product__image-container {
    width: 300px;
    height: 250px;
  }
}

.assortment-product__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.assortment-product__button {
  max-width: 150px;
  color: #451f3e;
  font-size: 22px;
  padding: 10px;
  -webkit-transition: background-color 0.4s ease, color 0.3s ease;
  transition: background-color 0.4s ease, color 0.3s ease;
}
@media (min-width: 600px) {
  .assortment-product__button {
    font-size: 24px;
  }
}
@media (min-width: 900px) {
  .assortment-product__button {
    max-width: 200px;
    font-size: 26px;
    padding: 15px;
  }
}
@media (hover: hover) {
  .assortment-product__button:hover {
    color: #fff;
    background-color: rgba(69, 31, 62, 0.442);
    cursor: pointer;
  }
}

.assortment-cards {
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 800px;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 501;
}

.card-product {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  overflow: auto;
  pointer-events: auto;
}
@media (min-width: 900px) {
  .card-product {
    padding: 50px;
  }
}

.card-product__title {
  font-size: 32px;
  margin-bottom: 15px;
}
@media (min-width: 900px) {
  .card-product__title {
    font-size: 48px;
  }
}

.card-product__image-container {
  min-width: 200px;
  min-height: 150px;
  margin: 0 auto;
  border-radius: 40%;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: 500px) {
  .card-product__image-container {
    width: 250px;
    height: 200px;
  }
}
@media (min-width: 900px) {
  .card-product__image-container {
    width: 300px;
    height: 250px;
  }
}
@media (min-width: 1000px) {
  .card-product__image-container {
    width: 350px;
    height: 300px;
  }
}

.card-product__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-product__description {
  font-size: 22px;
  padding: 0 10px;
}
@media (min-width: 600px) {
  .card-product__description {
    font-size: 28px;
    padding-bottom: 50px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.no-scroll {
  overflow: hidden;
}